---
database:
  host: 127.0.0.1
  port: 3306
  name: expiro
  user: root
  password: password

server:
  port: 5050

notification:
  enabled: true
  interval: 12
  fromAddress: sender@local.net
  toAddress: 
    - recipient@local.net
  smtp:
    host: 127.0.0.1
    port: 25
    ssl: false
    user: user
    password: password

openfoodfacts:
  url: https://world.openfoodfacts.net/api/v2/product
  timeout: 5