{{define "base"}}
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>expiro</title>
    <link rel="stylesheet" href="/static/css/main.css">
  </head>
  <body class="has-navbar-fixed-top">
    <div id="content">
      {{template "nav" .}}
      {{template "content" .}}
    </div>
    {{template "footer" .}}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
{{end}}