{{define "base"}}
<!doctype html>
<html lang="de" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title}}{{ else }}expiro{{ end }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="has-navbar-fixed-top">
    {{template "nav" .}}
    <main class="container">
      {{template "content" .}}
    </main>
    {{template "footer" .}}
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
{{end}}