// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Include fonts;
@font-face {
    font-family: 'DM Sans Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 1000;
    src: url(/assets/fonts/dm-sans-latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
    font-family: 'Logo Font';
    font-style: normal;
    font-display: regular;
    font-weight: 400;
    src: url(/assets/fonts/LondrinaShadow-Regular.ttf) format('truetype');
}

// Customize some defaults
$font-family-base: "DM Sans Variable";
$pink: #ca0a57;
$purple: #a88dd9;
$card-cap-bg:  rgba(var(--bs-body-color-rgb), .15);
$card-bg:  rgba(var(--bs-body-color-rgb), .01);
$list-group-border-width: 2px;
$line-height-base: 2;

// Colors
$primary: #1E8562;
$secondary: #1e8562;
$info: #00796B;
$light: #e4f0ed;
$dark: #2D2D2D;
$gray: #b1b9bd;
$success: #6fce73;
$warning: #ffb007;
$danger: #FF5252;
$link-color: #1f4e20;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// Icons
$bootstrap-icons-font-dir: "../fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

//
// Custom styles
//
.navbar {
    background-color: var(--bs-body-bg);
    background-image: none;
    margin-bottom: 30px;
    border-bottom: 6px solid var(--bs-primary);
}

.logo-font {
    font-family: 'Logo Font';
    font-size: 4rem;
    font-weight: bold;
    color: var(--bs-secondary);
}

#content-wrapper {
    padding-top: 100px;
}

div.form-floating > input#inputUsername {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

div.form-floating > input#inputMailAddress {
    margin-bottom: 10px;
}

td a,th a {
    color: inherit;
    text-decoration: none;
}

.form-check-input:checked {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary)
}