{{ define "emptyArchive" }}

<div class="container row text-center">
    <p class="hero-icon">
        <i class="bi bi-archive my-5 text-primary"></i>
    </p>
    <p class="fs-2 my-2">
        Your archive is empty!
    </p>
    <p class="my-4">
        There are no products in your archive yet.</br>
        You can archive products by clicking the "Archive" button on the product details page instead of deleting them.
    </p>
    <div class="my-4">
        <a class="btn btn-outline-primary" href="/web/products">
            <i class="bi bi-arrow-return-left me-2"></i>
            Go back to products
        </a>
    </div>
</div>

{{ end }}
