{{define "footer"}}
<div class="container">
	<footer class="d-flex flex-wrap justify-content-end align-items-center py-3 my-4 border-top fs-3">
		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a class="text-body-secondary" href="https://gitlab.com/Isotop7/expiro">
					<i class="bi bi-gitlab"></i>
				</a>
			</li>
		</ul>
	</footer>
</div>
{{end}}