{{define "footer"}}
<footer class="footer mt-auto">
	<div class="border-primary border-top border-3">
		<div class="container">
			<div class="d-flex justify-content-between align-items-center py-2">
				<a class="small fw-light text-muted text-decoration-none" href="https://www.flaticon.com/free-icons/fruits-and-vegetables" title="fruits-and-vegetables icons">Fruits-and-vegetables icons created by wanicon - Flaticon</a>
				<a href="https://codeberg.org/Isotop7/proviant" class="text-primary">
					<i class="bi bi-git small"></i>
				</a>
			</div>
		</div>
	</div>
</footer>
{{end}}
