{{ define "nav" }}
<nav class="navbar navbar-expand-md navbar fixed-top bg-body-secondary">
	<div class="container-fluid">
		<!-- full size navigation -->
		<a class="navbar-brand" href="/web">
			<!--<img src="/assets/icons/logo_transparent.png" alt="expiro" width="48"
				class="d-inline-block align-text-top" />-->
			<span class="fs-3 fw-bold">expiro</span>
		</a>
		<div class="collapse navbar-collapse mx-4">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle fw-bold" href="/web/products" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Products
					</a>
					<ul class="dropdown-menu bg-body-secondary">
						<li><a class="dropdown-item fw-bold" href="/web/products">Overview</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="/web/products/create">Create</a></li>
						<li><a class="dropdown-item" href="/web/products/scan">Scan</a></li>
					</ul>
				</li>
			</ul>
			<div class="navbar-nav me-5 mb-lg-0">
				<form class="d-flex me-auto mb-2 mb-lg-0" role="search">
					<div class="input-group">
						<input id="inputSearch" class="form-control bg-dark-subtle text-center" type="search" placeholder="..." aria-label="Search" />
						<button id="btnSearch" class="btn btn-primary" type="submit">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</form>
			</div>
			<ul class="navbar-nav ms-3">
				<li class="nav-item dropdown" data-bs-placement="bottom-end">
					<a class="nav-link" href="/web/auth" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<span class="fs-3">
							<i class="bi bi-gear-wide-connected"></i>
						</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-end bg-body-secondary">
						<li><a class="dropdown-item fw-bold" href="/web/user/settings">User settings</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" onclick="expiro.logoutUser()" href="/web">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
			aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>


<!-- mobile navigation -->
<div class="offcanvas offcanvas-end bg-body-secondary" tabindex="-1" id="offcanvasNavbar"
	aria-labelledby="offcanvasNavbarLabel">
	<div class="offcanvas-header">
		<a class="offcanvas-title text-decoration-none" id="offcanvasNavbarLabel" href="/web">
			<!--<img src="/assets/icons/logo_transparent.png" alt="expiro" width="128"
				class="d-inline-block align-text-top" />-->
			<span class="fs-3 fw-bold">expiro</span>
		</a>
		<button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/web/products" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Products
				</a>
				<ul class="dropdown-menu bg-body-secondary">
					<li><a class="dropdown-item" href="/web/products">Overview</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="/web/products/scan">Scan</a></li>
					<li><a class="dropdown-item" href="/web/products/create">Create</a></li>
				</ul>
			</li>
		</ul>
		<ul class="navbar-nav dropdown">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="/web/auth" role="button" data-bs-toggle="dropdown"
					aria-expanded="false">
					Settings
				</a>
				<ul class="dropdown-menu bg-body-secondary">
					<li><a class="dropdown-item" href="/web/user/settings">User</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" onclick="expiro.logoutUser()" href="/web">Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
{{ end }}