{{ define "noproducts" }}

<div class="container row text-center">
    <p class="fs-1">
        <i class="bi bi-emoji-dizzy-fill my-5 text-primary"></i>
    </p>
    <p class="fs-2 my-2">
        Oh no!
    </p>
    <p class="my-3">
        You need to add products first to see content on this page.
    </p>
    <div class="my-4">
        <a class="btn btn-outline-primary" href="/web/products/create">
            <i class="bi bi-cart-plus-fill me-2"></i>
            Create your first product
        </a>
    </div>
</div>

{{ end }}