{{ define "productArchivedCard" }}

<style>
    .card {
        min-height: 150px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>

{{ with . }}

<div class="col">
    <div class="card h-100 d-flex flex-column" id="card-{{ .Model.ID }}">
        <div class="row h-100 px-2">
            <div class="col-md-1">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkbox-{{ .Model.ID }}" value="" aria-label="...">
                </div>
            </div>
            <div class="col-md-2">
                <div class="product-card-img-container">
                    <img src="{{ .ImageURL }}" class="img-fluid product-card-img">
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body d-flex flex-column">
                    <div class="row align-items-center">
                        <div class="col-9">
                            <a href="/web/products/{{ .Model.ID }}/view" class="text-decoration-none">
                                <h4 class="card-title">
                                    {{ .ProductName }}
                                </h4>
                            </a>
                        </div>
                        <div class="col-3 text-end">
                            <h4>
                                <a href="/web/products/{{ .Model.ID }}/view">
                                    <span class="badge bg-primary">#{{- .Model.ID -}}</span>
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="card-text font-monospace">
                        {{- .Barcode -}}
                    </div>
                    <div class="card-text">
                        <p>
                            {{ badgifyCategories .Categories 5 }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-group list-group-flush d-flex justify-content-between">
            <li class="list-group-item d-flex justify-content-evenly align-items-center">
                <div class="ms-2 me-auto">
                    <i class="bi bi-calendar-x me-3"></i>
                </div>
                <span class="badge rounded-pill {{ if hasPassed .ExpireAt }} bg-danger {{ else }} bg-primary {{ end }}">
                    {{ .ExpireAt | humanDate }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-evenly align-items-center">
                <div class="ms-2 me-auto">
                    <i class="bi bi-upc-scan me-3"></i>
                </div>
                <span class="badge bg-primary rounded-pill">
                    {{ .ScannedAt | humanDateTime }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-evenly align-items-center">
                <div class="ms-2 me-auto">
                    <i class="bi bi-bell me-3"></i>
                </div>
                <span class="badge bg-primary rounded-pill">
                    {{ .NotifiedAt | humanDateTime }}
                </span>
            </li>
            <li class="list-group-item d-flex justify-content-evenly align-items-center">
                <div class="ms-2 me-auto">
                    <i class="bi bi-trash3 me-3"></i>
                </div>
                <span class="badge bg-primary rounded-pill">
                    {{ .DeletedAt | humanDateTimeFromSQL }}
                </span>
            </li>
        </ul>
    </div>
</div>

{{ end }}

{{ end }}
