{{ define "productArchiveOptionBar" }}

<div class="btn-group" role="group" aria-label="Product card options bar">
    <button class="btn btn-proviant-secondary btn-product-restore" id="restore-product">
        <i class="bi bi-arrow-counterclockwise me-2"></i>Restore
    </button>
    <button type="button" class="btn btn-proviant-danger btn-product-delete" id="delete-product">
        <i class="bi bi-calendar-x me-2"></i>Delete
    </button>
</div>

{{ end }}
