{{ define "searchBar" }}
<style>
    .card {
        min-height: 150px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>

<div class="row justify-content-between g-5 p-3">
    <div class="text-center mb-4">
        <h2>Search product</h2>
        <p class="text-muted">Filter your products by name or barcode</p>
    </div>
</div>

<div class="row mb-4">
    <div class="search-bar input-group mb-2 mb-md-0 w-100 w-md-auto">
        <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-key"></i>
        </span>
        <select id="search-param" class="form-select">
            <option value="product_name" {{ if eq .QueryParam "product_name" }}selected{{ end }}>Product Name</option>
            <option value="barcode" {{ if eq .QueryParam "barcode" }}selected{{ end }}>Barcode</option>
        </select>
        <span class="input-group-text" id="addon-wrapping">=</span>
        <input type="text" id="search-query" class="form-control" placeholder="Search..." value="{{ .QueryValue }}" />
        <button class="btn btn-outline-secondary dropdown-toggle mb-md-0 w-md-auto" type="button" data-bs-toggle="collapse" data-bs-target="#advanced-filters">
            <i class="bi bi-funnel"></i>
        </button>
        <button id="search-btn" class="btn btn-primary">
            <i class="bi bi-search me-2"></i>
        </button>
        <button id="show-all-btn" class="btn btn-outline-secondary rounded-end" type="button">
            <i class="bi bi-arrow-counterclockwise me-2"></i>
        </button>
        <div id="advanced-filters" class="collapse w-100">
            <div class="input-group my-2">
                <span class="input-group-text">Order by</span>
                <select id="sort-param" class="form-select">
                    <option value="created_at" {{ if eq .Sort "created_at" }}selected{{ end }}>Created At</option>
                    <option value="expire_at" {{ if eq .Sort "expire_at" }}selected{{ end }}>Expire At</option>
                    <option value="scanned_at" {{ if eq .Sort "scanned_at" }}selected{{ end }}>Scanned At</option>
                    <option value="notified_at" {{ if eq .Sort "notified_at" }}selected{{ end }}>Notified At</option>
                </select>
                <select id="sort-order" class="form-select">
                    <option value="asc" {{ if eq .Order "asc" }}selected{{ end }}>↑ Ascending</option>
                    <option value="desc" {{ if eq .Order "desc" }}selected{{ end }}>↓ Descending</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- Empty product-list div for JavaScript injection -->
<div id="product-list" class="row row-cols-1 row-cols-lg-2 g-5 my-auto" style="display: none;"></div>
{{ end }}
