<!doctype html>
<html lang="en" data-bs-theme="light" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title}}{{ else }}proviant{{ end }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body class="d-flex align-items-center justify-content-center min-vh-100 bg-body">
  <main class="container">
    <div class="empty border-0 shadow-none bg-transparent">
      <div class="empty-icon empty-icon-danger">
        <i class="bi bi-bug-fill"></i>
      </div>
      <div class="empty-title empty-title-lg">Oops! Something went wrong.</div>
      <div class="empty-desc">We apologize for the inconvenience. Please try again or contact support if the problem persists.</div>
      <a href="/" class="btn btn-proviant-primary">Return to Home</a>
    </div>
  </main>
  <script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
