{{ define "content" }}

{{ if .Products }}

<div class="page-header">
    <div>
        <h1 class="page-header-title">Archive</h1>
        <p class="page-header-subtitle">{{ len .Products }} archived items</p>
    </div>
    {{ template "productArchiveOptionBar" . }}
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
    {{ range .Products }}

    {{ template "productArchivedCard" . }}

    {{ end }}
</div>

<script src="/assets/js/productsArchived.js"></script>

{{ else }}

{{ template "emptyArchive" . }}

{{ end }}

{{ end }}
