{{ define "content" }}
<div class="w-auto p-5 text-center">
	<div class="py-5 text-center">
		<h2>Scan product</h2>
	</div>

	<div class="row g-5 p-2">
		<div class="col-md-7 col-lg-8 my-auto">
			<div class="p-4 mb-2">
				<div class="input-group mb-3">
					<input id="upload" type="file" class="form-control" accept="image/*" capture="environment"
						aria-label="Image" aria-describedby="btnScan">
					<button class="btn btn-outline-primary" type="button" id="btnScan">Scan</button>
				</div>
			</div>
			<div id="scanResult" class="m-4 alert alert-success" role="alert" style="display: none;">
			</div>
		</div>
		<div class="col-md-5 col-lg-4 order-md-last">
			<ul id="productData" class="list-group mb-3">
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-2">Image</h6>
					</div>
					<span class="text-body-secondary"><img id="productInfoImage"></span>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-2">Product name</h6>
						<small id="productInfoName" class="text-body-secondary"></small>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between lh-sm">
					<div>
						<h6 class="my-2">Generic name</h6>
						<small id="productInfoGenericName" class="text-body-secondary"></small>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="/assets/js/productsScan.js"></script>
{{ end }}