{{ define "content" }}

<style>
    .card {
        min-height: 150px;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>

<div class="row justify-content-between g-5 p-3">
    <div class="text-center mb-4">
        <h2>Search product</h2>
        <p class="text-muted">Select and build search query to show products</p>
    </div>
</div>

<div class="row mb-4">
    <div class="search-bar input-group mb-2 mb-md-0 w-100 w-md-auto">
        <span class="input-group-text" id="addon-wrapping">
            <i class="bi bi-key"></i>
        </span>
        <select id="search-param" class="form-select">
            <option value="product_name">Product Name</option>
            <option value="barcode">Barcode</option>
        </select>
        <span class="input-group-text" id="addon-wrapping">=</span>
        <input type="text" id="search-query" class="form-control" placeholder="Search..." />
        <button class="btn btn-outline-secondary dropdown-toggle mb-md-0 w-md-auto" type="button" data-bs-toggle="collapse" data-bs-target="#advanced-filters" aria-expanded="false" aria-controls="advanced-filters">
            <i class="bi bi-funnel"></i>
        </button>
        <button id="search-btn" class="btn btn-primary rounded-end">
            <i class="bi bi-search me-2"></i>
        </button>
        <div id="advanced-filters" class="collapse w-100">
            <div class="input-group my-2">
                <span class="input-group-text">Order by</span>
                <select id="sort-param" class="form-select">
                    <option value="created_at">Created At</option>
                    <option value="expire_at">Expire At</option>
                    <option value="scanned_at">Scanned At</option>
                    <option value="notified_at">Notified At</option>
                </select>
                <select id="sort-order" class="form-select">
                    <option value="asc">↑ Ascending</option>
                    <option value="desc">↓ Descending</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div id="product-list" class="row row-cols-1 row-cols-lg-2 g-5">
    <!-- Products will be rendered here -->
</div>

<script src="/assets/js/productsSearch.js"></script>
{{ end }}