{{ define "content" }}
<div class="row justify-content-between p-3">
    <div class="text-center mb-4">
        <h2>Search results</h2>
        <p class="text-muted">
            {{ if .SearchQuery }}
            <span class="fs-6 badge bg-primary">
                {{ .SearchParameter }} ~ "{{ .SearchQuery }}"
            </span>
            {{ else }}
            <span class="fs-6 badge bg-primary">
                No query specified
            </span>
            {{ end }}
        </p>
    </div>
</div>

{{ if .Products }}
<div class="row my-4">
    <div class="list-group list-group-numbered">
        {{ range .Products }}
        <a href="/web/products/{{ .ID }}/view" class="list-group-item list-group-item-action">
            <div class="row">
                <div class="col-9">
                    <div class="">
                        <h5 class="mb-1">{{ .ProductName }}</h5>
                    </div>
                    <p>Created: {{ .CreatedAt | humanDateTime }} / Expire At: {{ .ExpireAt | humanDate }}</p>
                    <small class="font-monospace">
                        <i class="bi bi-upc-scan me-2"></i>{{ .Barcode }}
                    </small>
                </div>
                <div class="col-3 d-flex justify-content-end">
                    <img height="80px" src="{{ .ImageURL }}">
                </div>
            </div>
        </a>
        {{ end }}
    </div>
</div>
{{ else }}
<div class="row my-2">
    <div class="w-100 mt-5 text-center">
        <div class="fs-1 text-warning my-4">
            <i class="bi bi-emoji-dizzy-fill me-2"></i>
        </div>
        <p class="font-monospace fs-4">
            No products found!
        </p>
    </div>
</div>
{{ end }}

{{ end }}