{{ define "content" }}
<div class="row justify-content-between p-3">
    <div class="text-center mb-4">
        <h2>
            User settings
        </h2>
        <p class="text-muted">
            <span class="badge bg-primary">ID: #{{ .User.ID }}</span>
        </p>
    </div>
</div>
<div class="container my-3">
    <div class="row g-5 p-3 align-items-center justify-content-between">
        <div class="col">
            <h4>
                Personal details
            </h4>
        </div>
        <div class="col col-auto">
            <button type="button" class="btn btn-outline-primary" id="btnUpdatePersonalDetails">
                Update
            </button>
        </div>
    </div>
    <div class="row gx-5 p-3 my-3">
        <div class="col">
            <form id="userSettings" novalidate>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">Username</span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                        aria-describedby="basic-addon1" value="{{ .User.Username }}" id="inputUsername">
                    <span class="input-group-text" id="basic-addon2">Mail Address</span>
                    <input type="text" class="form-control" placeholder="Mail Address" aria-label="Mail Address"
                        aria-describedby="basic-addon2" value="{{ .User.MailAddress }}" id="inputMailAddress">
                </div>
            </form>
            <div id="updateAlert" class="alert alert-danger mt-3" role="alert" style="display: none;">
            </div>
        </div>
    </div>
    <hr>
    <div class="row g-5 p-3 align-items-center justify-content-between">
        <div class="col">
            <h4>
                Household
            </h4>
        </div>
        <div class="col col-auto">
            <button type="button" class="btn btn-outline-primary" id="btnUpdateHouseholdDetails" disabled>
                Update
            </button>
        </div>
    </div>
    <div class="row gx-5 p-3 my-3">
        <div class="col">
            <form id="userHouseholdSettings" novalidate>
                <div class="input-group">
                    <span class="input-group-text" id="label-householdId">ID</span>
                    <input type="number" class="form-control" placeholder="1" aria-label="HouseholdId"
                        aria-describedby="label-householdId" value="{{ .Household.ID }}" id="inputHouseholdID">
                    <span class="input-group-text" id="label-householdName">Name</span>
                    <input type="text" class="form-control" placeholder="1" aria-label="HouseholdName"
                        aria-describedby="label-householdName" value="{{ .Household.Name }}" id="inputHouseholdName">
                </div>
            </form>
            <div id="updateHouseholdAlert" class="alert alert-danger mt-3" role="alert" style="display: none;">
            </div>
        </div>
    </div>
    <hr>
    <div class="row g-5 p-3">
        <div class="col">
            <h4>
                Password settings
            </h4>
        </div>
    </div>
    <div class="row gx-5 p-3 my-3">
        <div class="col">
            <form id="passwordUpdate" novalidate>
                <div class="input-group">
                    <span class="input-group-text">Password</span>
                    <input id="inputPassword" type="password" aria-label="Password" class="form-control" autocomplete="new-password">
                    <input id="inputPasswordVerification" type="password" aria-label="Password Verification" class="form-control" autocomplete="new-password">
                    <button class="btn btn-outline-primary" type="button" id="btnUpdatePassword">Update Password</button>
                </div>
            </form>
            <div id="passwordAlert" class="alert alert-danger mt-3" role="alert" style="display: none;">
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">proviant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modalBody">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btnModal">Reload</button>
        </div>
      </div>
    </div>
  </div>

<script src="/assets/js/userSettings.js"></script>
{{ end }}