---
server:
  baseURL: "https://proviant.local.de"
  port: 5114
  authentication:
    tokenPassword: "secret key"
    tokenLifetime: 8
  cors:
    allowAllOrigins: false
    allowedOrigins:
      - "http://localhost"
      - "http://myproviant.instance"

database:
  engine: sqlite
  sqlite:
    filepath: "data/proviant.db"

logging:
  enabled: true
  file: "proviant.log"

notification:
  enabled: true
  interval: 12
  smtp:
    host: 127.0.0.1
    port: 25
    ssl: false
    user: user
    fromAddress: sender@local.net
    password: password
  ntfy:
    url: https://ntfy.sh
    topic: default_topic
    timeout: 60

openfoodfacts:
  url: https://world.openfoodfacts.org/api/v2/product
  timeout: 5
  cacheEnabled: true
